@font-face {
  font-family: 'ITCAvantGarde';
  src: url("../../fonts/itc-avant-garde.otf"); }
body {
  margin: auto;
  font-family: 'ITCAvantGarde';
  background-color: #f8f8f8;
  font-size: 14px; }

/** HEADER **/
header {
  margin-top: 12px;
  display: flex;
  display: block; }

ul {
  margin-left: -41px; }

.logo {
  display: block; }

.regards {
  position: relative;
  font-weight: 700;
  float: right;
  width: 73px;
  margin-top: -45px;
  line-height: 0.882;
  text-align: center; }

.regards span {
  color: #e79655; }

/** MAIN **/
main {
  margin: auto;
  width: 80%; }

h1 {
  font-weight: bold;
  /*font-size: 17.774px;*/ }

h2 {
  /*font-size: 16px;*/ }

/** SECTION **/
/* Rapport */
.Rapport {
  display: block; }

.Rapport h2 {
  border-bottom: 1px solid #e79655;
  font-weight: bold; }

.Rapport p {
  font-size: 14px; }

.Rapport p > span {
  font-weight: bold; }

.listeDownload li > .hexagon {
  margin-left: 15px;
  margin-right: -4px;
  margin-top: -12px;
  float: right; }

.listeDownload li > label svg.reduire {
  margin-right: 40px; }

.listeDownload li > .hexagon > .check {
  margin-top: 12px; }

.listeDownload li {
  list-style: none;
  display: block;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 3px;
  font-weight: bold; }
  .listeDownload li > span,
  .listeDownload li > input {
    float: right; }
  .listeDownload li > span {
    font-size: 12px;
    line-height: 1.2; }

.Rapport button {
  color: #e79655;
  font-size: 14px;
  font-weight: bold;
  border-width: 1px;
  font-family: 'ITCAvantGarde';
  border-color: #e79655;
  border-style: solid;
  background-color: #f8f8f8;
  float: right;
  width: 210px;
  height: 48px;
  margin-bottom: 12px; }

.Rapport button > svg {
  float: left;
  display: inline-block;
  margin-left: 13px;
  margin-top: 2px; }

.Rapport button > span {
  font-weight: lighter;
  display: inline-block;
  margin-top: 14px; }

.Rapport button > span > svg {
  margin-left: 12px;
  margin-left: -47px; }

/*** Liste deroulant **/
.deroulant:hover .sous-menu {
  display: block; }

.sous-menu {
  display: block;
  position: relative;
  margin-top: 13px;
  margin-bottom: -21px;
  margin-right: -21px;
  background-color: #f8f8f8; }

.deroulant .sous-menu li:after {
  content: ""; }

.sous-menu li {
  display: block;
  margin-bottom: 1px;
  background-color: #f8f8f8; }

.deroulant .sous-menu li > a {
  color: white; }

.deroulant .sous-menu li > .hexagon-little {
  margin-left: 18px;
  margin-right: 3px;
  float: right; }

/*****/
.Rapport form:after {
  clear: both;
  content: "";
  display: table; }

/*** Publication */
.Publication {
  clear: both;
  display: block;
  margin-top: 10%; }

.Publication h2 {
  border-bottom: 1px solid #e79655;
  font-weight: bold; }

.Publication li {
  display: inline-flex;
  list-style: none;
  width: 48%; }

.Publication h4 {
  font-weight: bold;
  color: #e79655;
  margin-bottom: 7px; }

.Publication li > span {
  font-size: 12px;
  line-height: 1.2;
  font-weight: lighter;
  float: right; }

.Publication div {
  display: block; }

.Publication .download {
  display: block; }

.Publication .download > .hexagon {
  margin-left: 12px; }

.Publication li > div.descriptionIMG > a > span {
  margin-left: 23px;
  margin-top: -33px;
  display: block; }

/** AutresDocs */
.AutresDocs {
  clear: both;
  display: block;
  margin-top: 5%; }

.AutresDocs h2 {
  border-bottom: 1px solid #e79655;
  font-weight: bold; }

.AutresDocs li {
  list-style: none;
  display: block;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 2px;
  font-weight: bold; }

.AutresDocs li > span,
.AutresDocs li > a > span {
  font-size: 12px;
  line-height: 1.2;
  float: right;
  margin-right: 12px; }

.AutresDocs li > a > span {
  margin-right: -33px; }

.AutresDocs .hexagon {
  background: url() no-repeat;
  margin-left: 12px;
  background-size: 9px;
  background-position: 50% 50%; }

.AutresDocs .hexagon {
  float: right;
  margin-top: -11px;
  display: block; }

.AutresDocs a > ul > li > a > span.fleche {
  margin-left: 70px;
  margin-top: -33px;
  display: block; }

/* Mode responsive*/
@media screen and (max-width: 580px) {
  /** RAPPORT PERSONNALISE **/
  .listeDownload li {
    padding: 30px; }

  .listeDownload li > label {
    display: block; }

  .listeDownload li > label > svg.reduire {
    margin-right: 20px; }

  .listeDownload li > a {
    display: flex; }

  .listeDownload li > .hexagon {
    display: block;
    margin-right: -2px; }

  .sous-menu {
    margin-top: 30px;
    margin-bottom: -31px;
    margin-right: -31px; }

  /** PUBLICATION **/
  .Publication li {
    display: block;
    width: 100%;
    margin-bottom: 57px;
    text-align: center; }

  .Publication img {
    display: block;
    width: 30%; }

  .Publication div {
    float: right;
    width: 66%;
    margin-top: -73px; }

  .Publication .download > .hexagon {
    margin-left: 26px; }

  /*** AUTRES DOCS **/
  .AutresDocs li {
    padding: 30px; }

  .AutresDocs .hexagon {
    display: block; } }
/*# sourceMappingURL=document.css.map */

/*# sourceMappingURL=document.css.map */
