@font-face {
  font-family: 'ITCAvantGarde';
  src: url("../../fonts/itc-avant-garde.otf"); }
body {
  margin: auto;
  font-family: 'ITCAvantGarde';
  background-color: #f8f8f8;
  font-size: 14px; }

/** HEADER **/
header {
  background-color: #fff;
  display: block; }

.logo {
  display: block; }

.regards {
  position: absolute;
  font-weight: 700;
  right: 0;
  width: 73px;
  margin-top: -45px;
  line-height: 0.882;
  text-align: center; }
  .regards .textR {
    font-weight: lighter;
    display: block; }

ul {
  margin-left: -41px; }

.content {
  display: block; }
  .content .titreHEAD {
    font-size: 17.715px;
    color: white;
    font-weight: bold;
    line-height: 1.05;
    text-align: left;
    -moz-transform: matrix(2.25798, 0, 0, 2.25798, 0, 0);
    -webkit-transform: matrix(2.25798, 0, 0, 2.25798, 0, 0);
    -ms-transform: matrix(2.25798, 0, 0, 2.25798, 0, 0);
    position: absolute;
    left: 250.218px;
    top: 97.126px;
    width: 101.253px;
    height: 49.982px;
    z-index: 47; }

/*** MOBILE **/
.barInfo {
  display: none; }

.menu {
  padding: 1%;
  display: block;
  height: 44px; }

nav {
  display: none; }

/** BURGER **/
.menu-toggler {
  display: none; }

.menu-toggler__label {
  display: block;
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 44px;
  height: 100%; }

.menu-toggler__label:hover,
.menu-toggler__label:focus,
.menu-toggler__label:active {
  cursor: pointer; }

.menu-toggler__label__text {
  position: absolute;
  text-indent: -9999px; }

.menu-toggler__label__visual span {
  display: block;
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: black;
  transition: transform .5s, top .5s, bottom .5s, opacity .2s;
  opacity: 1; }

.main-menu {
  display: none;
  position: absolute;
  list-style-type: none;
  top: 60px;
  left: 0;
  right: 0;
  margin: 0;
  padding-left: 0;
  display: none; }

.menu-toggler:checked ~ .main-menu {
  display: block; }

.main-menu li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #fff; }

.main-menu a {
  display: block;
  line-height: 44px;
  padding: 0 .7em; }

.main-menu a,
.main-menu a:visited,
.main-menu a:hover,
.main-menu a:focus,
.main-menu a:active {
  text-decoration: none;
  color: #fff; }

.main-menu a,
.main-menu a:visited {
  background-color: #0d2e86; }

.main-menu a:hover,
.main-menu a:focus,
.main-menu a:active {
  background-color: #0d2e86; }

/** CONTENU **/
#bg {
  background-image: url("../../img/home/axa_hopwork_070.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-background-size: cover; }

.polygon {
  list-style: none;
  margin: auto;
  display: block; }

.polygon li {
  position: absolute; }
  .polygon li svg {
    width: 218px;
    height: 252px; }

.polygonSVG {
  fill: #292929;
  fill-opacity: 0.25;
  stroke: #fff;
  stroke-width: 2.031px;
  fill-rule: evenodd; }

.contentSVG {
  transform: rotate(29deg);
  display: block; }
  .contentSVG p {
    font-size: 18px;
    color: white;
    font-weight: bold;
    line-height: 1.333;
    text-align: center;
    position: absolute;
    left: 30%;
    top: 100px;
    z-index: 34;
    transform: rotate(-29deg); }
  .contentSVG #polygone3 {
    left: 50%; }

.polygon li:nth-child(1) {
  left: 291px;
  top: 208px; }

.polygon li:nth-child(1) p {
  left: 35px; }

.polygon li:nth-child(2) {
  left: 387px;
  top: 369px; }

.polygon li:nth-child(2) p {
  left: 35px; }

.polygon li:nth-child(3) {
  left: 479px;
  top: 205px; }

.polygon li:nth-child(3) p {
  left: 7px;
  top: 91px; }

.polygon li:nth-child(4) {
  left: 667px;
  top: 202px; }

.polygon li:nth-child(4) p {
  left: 51px;
  top: 91px; }

.polygon li:nth-child(5) {
  left: 764px;
  top: 364px; }

.polygon li:nth-child(5) p {
  left: 51px;
  top: 91px; }

.polygon li:nth-child(6) {
  left: 576px;
  top: 367px; }

.polygon li:nth-child(6) p {
  left: 51px;
  top: 91px; }

.polygon li svg:hover #Polygone1 {
  fill: blue; }

.polygon li svg:hover #Polygone2 {
  fill: red; }

.polygon li svg:hover #Polygone3 {
  fill: orange; }

.polygon li svg:hover #Polygone4 {
  fill: green; }

.polygon li svg:hover #Polygone5 {
  fill: pink; }

.polygon li svg:hover #Polygone6 {
  fill: yellow; }

footer {
  position: absolute;
  display: block;
  bottom: 0;
  padding: 8px;
  background-color: black; }
  footer .share {
    display: none; }

/** RESPONSIVE **/
@media screen and (max-width: 580px) {
  /** HEADER **/
  /*** BARRE D'INFO **/
  .barInfo {
    background-color: #0d2e86;
    display: block;
    padding: 3%;
    color: white; }
    .barInfo p {
      font-size: 9px;
      width: 74%; }
    .barInfo .closeButton {
      display: block;
      right: 10px;
      margin-left: 20px;
      margin-top: 9px;
      transform: translateY(-50%);
      width: 33px;
      float: right; }
      .barInfo .closeButton .cercle {
        position: absolute;
        margin-left: 50px;
        margin-top: -40px;
        width: 51px;
        height: 51px; }
      .barInfo .closeButton .croix {
        left: 64px;
        position: absolute;
        top: -27%;
        transform: translate(34%, -137%); }
      .barInfo .closeButton input {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%); }
      .barInfo .closeButton:after {
        content: "";
        display: table;
        clear: both; }

  .cls-1 {
    fill: #818181;
    fill-opacity: 0;
    stroke: #284591;
    stroke-linejoin: round;
    stroke-width: 4px;
    opacity: 1.102; }

  nav {
    display: block;
    position: absolute;
    left: 0;
    right: 0; }

  .logo {
    position: absolute;
    left: 88px;
    top: 86px; }
    .logo img {
      width: 76%; }

  .polygon {
    margin: auto;
    position: relative; }
    .polygon:after {
      content: "";
      display: table;
      clear: both; }
    .polygon li {
      top: 2px; }

  .polygonSVG {
    transform: translate(-278.046 -395.359); }

  #Polygone5, #Polygone6 {
    display: none; }
    #Polygone5 .contentSVG p, #Polygone6 .contentSVG p {
      display: none; }

  .menu {
    padding: 2%;
    display: block;
    height: 52px; }

  .regards {
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    color: black;
    right: 9px;
    top: 140px;
    text-align: center; }
    .regards .textR {
      display: none; }

  .content {
    display: block; }
    .content .titreHEAD {
      display: none; }

  .polygon li:nth-child(1) {
    left: 25px;
    top: 30px; }

  .polygon li:nth-child(2) {
    left: 25px;
    top: 188px; }

  .polygon li:nth-child(3) {
    left: 163px;
    top: 109px; }

  .polygon li:nth-child(3) p {
    left: 28px;
    width: 136px; }

  .polygon li svg {
    width: 185px;
    height: 160px; }

  .polygon li:nth-child(4) {
    left: 162px;
    top: 268px; }

  /**  CONTENT **/
  #bg {
    height: 100vh;
    background-position: 17%, 50%; }

  .contentSVG {
    transform: rotate(0deg);
    display: block; }
    .contentSVG p {
      font-size: 12px;
      color: white;
      font-weight: bold;
      line-height: 1.333;
      text-align: center;
      position: absolute;
      left: 28%;
      top: 36%;
      z-index: 34;
      -moz-transform: matrix(1.27782, 0, 0, 1.28057, 0, 0);
      -webkit-transform: matrix(1.27782, 0, 0, 1.28057, 0, 0);
      -ms-transform: matrix(1.27782, 0, 0, 1.28057, 0, 0); }

  footer {
    position: fixed;
    display: block;
    bottom: 0;
    padding: 8px;
    background-color: black; }
    footer .share {
      display: block;
      position: fixed; } }

/*# sourceMappingURL=index.css.map */
