html, body {
  background-color: #f8f8f8;
  font-family: Verdana, sans-serif; }

main {
  max-width: 960px;
  margin: 0 auto; }
  main div.has-big-hexa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
  main .infos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin-left: 10px; }
    main .infos p {
      font-size: 16.5px;
      margin-left: 10px; }
      main .infos p span {
        color: #636363; }

.title {
  text-align: center;
  font-size: 40px;
  font-weight: bold; }

.subtitle {
  color: #292929;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid #5a8fa6;
  padding-bottom: 5px; }

.svg-container {
  display: flex;
  position: relative;
  justify-content: flex-end;
  overflow: hidden; }

.svg-container .arrow {
  width: 8px;
  height: 20px;
  position: absolute;
  left: 27.5%;
  top: 25%; }

.svg-container .percentage {
  position: absolute;
  left: 10%;
  top: 25%; }

.svg-container .percentage {
  position: absolute;
  left: 20%;
  top: 25%; }

.svg-container .euro {
  position: absolute;
  left: 25%;
  top: 25%; }

.svg-container .line {
  position: absolute;
  left: 20%;
  top: 43%; }

.svg-container .stat {
  position: absolute;
  left: 20%;
  top: 30%; }

.icon {
  fill: #f8f8f8;
  stroke: #5a8fa6;
  stroke-width: 10; }

.pillier svg, .priority svg {
  width: 80%; }

.priority .priority-1 {
  fill: #98c67f; }

.priority .priority-2 {
  fill: #f0847a; }

.priority .priority-3 {
  fill: #fcc04b; }

.pillier .pillier-1, .pillier .pillier-2 {
  fill: #5a8fa6;
  stroke: #fff;
  stroke-width: 1px;
  fill-rule: evenodd; }

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }

figure figcaption {
  position: absolute;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
  line-height: 25px;
  text-align: center;
  color: #fff;
  font-size: 17px; }

.has-big-hexa div {
  max-width: 300px; }

.has-big-hexa div p:last-child {
  color: #727272;
  line-height: 22px; }

/**************************************************************************\
                  MEDIA QUERIES
\**************************************************************************/
@media screen and (max-width: 580px) {
  .title {
    font-size: 20px; }

  main div.has-big-hexa {
    display: flex;
    flex-direction: column;
    text-align: center; }
  main .infos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap; }
    main .infos p {
      font-size: 14px;
      text-align: center; }
      main .infos p span {
        color: #636363; }

  .svg-container-pilliers {
    justify-content: center; }

  .svg-container-pilliers div {
    width: 20px;
    height: 100px;
    margin: 3px; }

  .svg-container-pilliers p {
    color: #fff;
    font-size: 10px; }

  .pillier svg, .priority svg {
    width: 100%; }

  figure {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }

  figure figcaption {
    position: absolute;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    line-height: 20px;
    color: #fff;
    font-size: 15px; }

  .has-big-hexa div {
    max-width: 100%; } }

/*# sourceMappingURL=strategy.css.map */
