html, body {
  background-color: #f8f8f8;
}

main {
  max-width: 960px;
  margin: 0 auto;

  .infos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;

    p {
      font-size: 16.5px;

      span {
        color: #636363;
      }
    }
  }

}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.subtitle {
  color: #292929;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid #5a8fa6;
  padding-bottom: 5px;
}

.svg-container {
  display: flex;
  position: relative;
  justify-content: flex-end;
  overflow: hidden;
}

.svg-container .arrow {
  width: 8px;
  height: 20px;
  position: absolute;
  left: 27.5%;
  top: 25%;
}

.svg-container .percentage {
  position: absolute;
  left: 10%;
  top: 25%;
}

.svg-container .percentage {
  position: absolute;
  left: 20%;
  top: 25%;
}

.svg-container .euro {
  position: absolute;
  left: 25%;
  top: 25%;
}

.svg-container .line {
  position: absolute;
  left: 20%;
  top: 43%;
}

.svg-container .stat {
  position: absolute;
  left: 20%;
  top: 30%;
}

.icon {
  fill: #f8f8f8;
  stroke: #5a8fa6;
  stroke-width: 10;
}

.pillier svg, .priority svg {
  width: 50%;
}

.priority .priority-1 {
  fill: #98c67f;
}

.priority .priority-2 {
  fill: #f0847a;
}

.priority .priority-3 {
  fill: #fcc04b;
}

.polygone {
  fill: #5a8fa6;
  stroke: #fff;
  stroke-width: 1px;
  fill-rule: evenodd;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
figure figcaption {
  position: absolute;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
  line-height: 20px;
  color: #fff;
  font-size: 12px;
}

/**************************************************************************\
                  MEDIA QUERIES
\**************************************************************************/
@media screen and (max-width : 580px) {

  .title {
    font-size: 20px;
  }

  main {

    section {
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: wrap;

      figure {
        margin: 0.5em;
        text-align: center;
        font-size: 10px;
        line-height: 1.3em;
      }
    }

    .infos {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;

      // p {
        font-size: 16.5px;

        span {
          color: #636363;
        }
      // }

    }
  }

  .svg-container-pilliers {
    justify-content: center;
  }

  .svg-container-pilliers div{
    width:20px;
    height:100px;
    margin: 3px;
  }

  .svg-container-pilliers p {
    color: #fff;
    font-size: 10px;
  }
}

// @media screen and (min-width : 581px) and (max-width : 700px) {
//
// }
//
// @media screen and (min-width : 701px) and (max-width : 820px) {
//
// }
//
// @media screen and (min-width : 821px) and (max-width : 940px) {
//
// }
//
// @media screen and (min-width : 941px) and (max-width : 1060px) {
//
// }
//
// @media screen and (min-width : 1061px) and (max-width : 1180px) {
//
// }
//
// @media screen and (min-width : 1181px) {
//
// }
