html, body {
  background-color: #f8f8f8;
  font-family: Verdana, sans-serif;
}

.strategy {
  max-width: 960px;
  margin: 0 auto;

  .title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }

  .subtitle {
    color: #292929;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #5a8fa6;
    padding-bottom: 5px;
  }

  div.has-big-hexa {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .infos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;

    margin-left: 10px;
    p {
      font-size: 16.5px;
      margin-left: 10px;

      span {
        color: #636363;
      }
    }
  }

}



.svg-container {
  display: flex;
  position: relative;
  justify-content: flex-end;
  overflow: hidden;
}

.svg-container .arrow {
  width: 8px;
  height: 20px;
  position: absolute;
  left: 27.5%;
  top: 25%;
}

.svg-container .percentage {
  position: absolute;
  left: 10%;
  top: 25%;
}

.svg-container .percentage {
  position: absolute;
  left: 20%;
  top: 25%;
}

.svg-container .euro {
  position: absolute;
  left: 25%;
  top: 25%;
}

.svg-container .line {
  position: absolute;
  left: 20%;
  top: 43%;
}

.svg-container .stat {
  position: absolute;
  left: 20%;
  top: 30%;
}

.icon {
  fill: #f8f8f8;
  stroke: #5a8fa6;
  stroke-width: 10;
}

.pillier svg, .priority svg {
  width: 80%;
}

.priority .priority-1 {
  fill: #98c67f;
}

.priority .priority-2 {
  fill: #f0847a;
}

.priority .priority-3 {
  fill: #fcc04b;
}

.pillier .pillier-1, .pillier .pillier-2 {
  fill: #5a8fa6;
  stroke: #fff;
  stroke-width: 1px;
  fill-rule: evenodd;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

figure figcaption {
  position: absolute;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
  line-height: 25px;
  text-align: center;
  color: #fff;
  font-size: 17px;
}

.has-big-hexa div {
  max-width: 300px;
}

.has-big-hexa div p:last-child {
  color: #727272;
  line-height: 22px;
}

.objectif-1 ul, .objectif-2 ul, .objectif-3 ul, .objectif-4 ul{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  position: relative;
}

/**************************************************************************\
                  OBJECTIF 1
\**************************************************************************/
.objectif-1 ul {
  position:relative;
  margin-top: 75px;
}

// .boitealanoix {
//   background: red;
//   // height: 200px;
//   height: 0;
//   padding-top: ( 200 / 962 * 100% );
//   width: ( 200 / 962 * 100% );
// }
.objectif-1 ul {
  width: 100%;
  height: 50%;
  padding: 1%;
}

.objectif-1 ul li {
    width: 7%;
    height:0;
    padding-top: 7%;
    -moz-border-radius: 55%;
    -webkit-border-radius: 50%;

  text-align: center;
  border: 1px solid #000;
  margin: 0 1em;
  display: inline-block;
  color: black;
  position: relative;

  h1 {
    color: #000;
    position: absolute;
    top: -48px;
    left: 0;
    font-size: 15px;
  }

  span {
    color: #000;
    position: absolute;
    top: 55px;
    left: 0;
    font-size: 15px;
  }
}

.objectif-1 li:nth-child(2)::before {
  content: '';
  position: absolute;
  top: 43%;
  left: -240%;
  width: 290%;
  height: 1px;
  color: red;
  background: #000;
}

.objectif-1 li:nth-child(3) {
  top: -10px;
  width: 7%;
  height:0;
  padding-top: 7%;

  h1 {
    color: #000;
    position: absolute;
    top: -48px;
    left: 5px;
    font-size: 15px;
  }

  span {
    color: #000;
    position: absolute;
    top: 65px;
    left: 5px;
    font-size: 15px;
  }
}

.objectif-1 li:nth-child(3)::before {
  content: '';
  position: absolute;
  top: 40%;
  left: -235%;
  width: 290%;
  height: 1px;
  color: red;
  background: #000;
  -webkit-transform:
        translateY(7px)
        translateX(-2px)
        rotate(-3deg);
}

.objectif-1 li:nth-child(4) {
  top: -20px;
  width: 7%;
  height:0;
  padding-top: 7%;

  h1 {
    color: #000;
    position: absolute;
    top: -48px;
    left: 10px;
    font-size: 15px;
  }

  span {
    color: #000;
    position: absolute;
    top: 75px;
    left: 10px;
    font-size: 15px;
  }
}

.objectif-1 li:nth-child(4)::before {
  content: '';
  position: absolute;
  top: 40%;
  left: -235%;
  width: 290%;
  height: 1px;
  color: red;
  background: #000;
  -webkit-transform:
        translateY(6.7px)
        translateX(-1px)
        rotate(-3deg);
}

.objectif-1 li:last-child {
  top: -40px;
  width: 7%;
  height:0;
  padding-top: 7%;
  background: #5a8fa6;

  h1 {
    color: #000;
    position: absolute;
    top: -50px;
    left: 25px;
    font-size: 15px;
  }

  span {
    color: #000;
    position: absolute;
    top: 95px;
    left: 25px;
    font-size: 15px;
  }
}

.objectif-1 li:last-child::before {
  content: '';
  position: absolute;
  top: (300 / 600 * 100%);
  left: -(1280 / 550 * 100%);
  width: (1280 / 450 * 100%);
  height: 1px;
  background: #000;
  -webkit-transform:
        translateY(6.7px)
        translateX(-1px)
        rotate(-5deg);
}
/**************************************************************************\
                  OBJECTIF 2
\**************************************************************************/
.objectif-2 ul {
  position:relative;
  margin-top: 75px;
}

.objectif-2 ul li {
  width: 7%;
  height:0;
  padding-top: 7%;
  text-align: center;
  border-radius: 55%;
  border: 1px solid #000;
  margin: 0 1em;
  display: inline-block;
  color: black;
  position: relative;

  h1 {
    color: #000;
    position: absolute;
    top: -48px;
    left: 0;
    font-size: 15px;
  }

  span {
    color: #000;
    position: absolute;
    top: 70px;
    left: 0;
    font-size: 15px;
  }
}

.objectif-2 li:first-child {
  h1 {
    color: #000;
    position: absolute;
    top: -48px;
    left: 0;
    font-size: 15px;
  }

  span {
    color: #000;
    position: absolute;
    top: 50px;
    left: 0;
    font-size: 15px;
  }
}
.objectif-2 li:nth-child(2) {
  width: 7%;
  height:0;
  padding-top: 7%;
  top: -4px;
}

.objectif-2 li:nth-child(2)::before {
  content: '';
  position: absolute;
  top: (200 / 550 * 100%);
  left: -(1280 / 550 * 100%);
  width: (1280 / 450 * 100%);
  height: 1px;
  background: #000;
  -webkit-transform:
        translateY(6.7px)
        translateX(-1px)
        rotate(-2deg);
}

.objectif-2 li:nth-child(3) {
  top: -10px;
  width: 7%;
  height:0;
  padding-top: 7%;

  h1 {
    color: #000;
    position: absolute;
    top: -48px;
    left: 5px;
    font-size: 15px;
  }

  span {
    color: #000;
    position: absolute;
    top: 80px;
    left: 5px;
    font-size: 15px;
  }
}

.objectif-2 li:nth-child(3)::before {
  content: '';
  position: absolute;
  top: (200 / 600 * 100%);
  left: -(1280 / 550 * 100%);
  width: (1280 / 425 * 100%);
  height: 1px;
  background: #000;
  -webkit-transform:
        translateY(6.7px)
        translateX(-1px)
        rotate(-2.5deg);
}

.objectif-2 li:nth-child(4) {
  top: -15px;
  width: 7%;
  height:0;
  padding-top: 7%;

  h1 {
    color: #000;
    position: absolute;
    top: -48px;
    left: 10px;
    font-size: 15px;
  }

  span {
    color: #000;
    position: absolute;
    top: 90px;
    left: 10px;
    font-size: 15px;
  }
}

.objectif-2 li:nth-child(4)::before {
  content: '';
  position: absolute;
  top: (300 / 950 * 100%);
  left: -(1280 / 550 * 100%);
  width: (1280 / 425 * 100%);
  height: 1px;
  background: #000;
  -webkit-transform:
        translateY(6.7px)
        translateX(-1px)
        rotate(-2deg);
}

.objectif-2 li:last-child {
  top: -20px;
  width: 7%;
  height:0;
  padding-top: 7%;
  background: #5a8fa6;

  h1 {
    color: #000;
    position: absolute;
    top: -50px;
    left: 25px;
    font-size: 15px;
  }

  span {
    color: #000;
    position: absolute;
    top: 110px;
    left: 25px;
    font-size: 15px;
  }
}

.objectif-2 li:last-child::before {
  content: '';
  position: absolute;
  top: (250 / 850 * 100%);
  left: -(1280 / 540 * 100%);
  width: (1280 / 450 * 100%);
  height: 1px;
  background: #000;
  -webkit-transform:
        translateY(6.7px)
        translateX(-1px)
        rotate(-2deg);
}

/**************************************************************************\
                  OBJECTIF 3
\**************************************************************************/
.objectif-3 ul {
  position:relative;
  margin-top: 75px;
}

.objectif-3 ul li {
  width: 7%;
  height:0;
  padding-top: 7%;
  text-align: center;
  border-radius: 55%;
  border: 1px solid #000;
  margin: 0 1em;
  display: inline-block;
  color: black;
  position: relative;

  h1 {
    color: #000;
    position: absolute;
    top: -48px;
    left: 0;
    font-size: 15px;
  }

  span {
    color: #000;
    position: absolute;
    top: 70px;
    left: 0;
    font-size: 15px;
  }
}
.objectif-3 li:first-child {
  h1 {
    color: #000;
    position: absolute;
    top: -48px;
    left: 0;
    font-size: 15px;
  }

  span {
    color: #000;
    position: absolute;
    top: 50px;
    left: 0;
    font-size: 15px;
  }
}

.objectif-3 li:nth-child(2) {
  width: 7%;
  height:0;
  padding-top: 7%;
  top:8px;
}
.objectif-3 li:nth-child(2)::before {
  content: '';
  position: absolute;
  top: (200 / 950 * 100%);
  left: -(1280 / 550 * 100%);
  width: (1280 / 450 * 100%);
  height: 1px;
  background: #000;
  -webkit-transform:
        translateY(6.7px)
        translateX(-1px)
        rotate(3deg);
}

.objectif-3 li:nth-child(3) {
  top: -8px;
  width: 7%;
  height:0;
  padding-top: 7%;

  h1 {
    color: #000;
    position: absolute;
    top: -48px;
    left: 5px;
    font-size: 15px;
  }

  span {
    color: #000;
    position: absolute;
    top: 80px;
    left: 5px;
    font-size: 15px;
  }
}
.objectif-3 li:nth-child(3)::before {
  content: '';
  position: absolute;
  top: (200 / 450 * 100%);
  left: -(1280 / 540 * 100%);
  width: (1280 / 425 * 100%);
  height: 1px;
  background: #000;
  -webkit-transform:
        translateY(6.7px)
        translateX(-1px)
        rotate(-3deg);
}

.objectif-3 li:nth-child(4) {
  top: -15px;
  width: 7%;
  height:0;
  padding-top: 7%;

  h1 {
    color: #000;
    position: absolute;
    top: -48px;
    left: 10px;
    font-size: 15px;
  }

  span {
    color: #000;
    position: absolute;
    top: 90px;
    left: 10px;
    font-size: 15px;
  }
}
.objectif-3 li:nth-child(4)::before {
  content: '';
  position: absolute;
  top: (400 / 950 * 100%);
  left: -(1280 / 550 * 100%);
  width: (1280 / 425 * 100%);
  height: 1px;
  background: #000;
  -webkit-transform:
        translateY(6.7px)
        translateX(-1px)
        rotate(-2deg);
}

.objectif-3 li:last-child {
  top: -20px;
  width: 7%;
  height:0;
  padding-top: 7%;
  background: #5a8fa6;

  h1 {
    color: #000;
    position: absolute;
    top: -50px;
    left: 25px;
    font-size: 15px;
  }

  span {
    color: #000;
    position: absolute;
    top: 110px;
    left: 25px;
    font-size: 15px;
  }
}
.objectif-3 li:last-child::before {
  content: '';
  position: absolute;
  top: (250 / 600 * 100%);
  left: -(1200 / 540 * 100%);
  width: (1200 / 450 * 100%);
  height: 1px;
  background: #000;
  -webkit-transform:
        translateY(6.7px)
        translateX(-1px)
        rotate(-2deg);
}
/**************************************************************************\
                  OBJECTIF 4
\**************************************************************************/
.objectif-4 ul {
  position:relative;
  margin-top: 55px;
}

.objectif-4 ul li {
  width: 7%;
  height:0;
  padding-top: 7%;
  text-align: center;
  border-radius: 55%;
  border: 1px solid #000;
  margin: 0 1em;
  display: inline-block;
  color: black;
  position: relative;

  h1 {
    color: #000;
    position: absolute;
    top: -48px;
    left: 25px;
    font-size: 15px;
  }

  span {
    color: #000;
    position: absolute;
    top: 95px;
    left: 15px;
    font-size: 15px;
  }
}

.objectif-4 ul li::before {
  content: '';
  position: absolute;
  top: 35px;
  left: -150px;
  width: 252%;
  height: 1px;
  background: #000;
}

.objectif-4 ul li:first-child::before {
  display: none;
}

.objectif-4 ul li:last-child {
  background: #5a8fa6;
}
/**************************************************************************\
                  MEDIA QUERIES
\**************************************************************************/

@media screen and (max-width : 580px) {

  .strategy {

    .title {
      font-size: 20px;
    }

    div.has-big-hexa {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .infos {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;

      p {
        font-size: 14px;
        text-align: center;

        span {
          color: #636363;
        }
      }

    }
  }

  .svg-container-pilliers {
    justify-content: center;
  }

  .svg-container-pilliers div{
    width:20px;
    height:100px;
    margin: 3px;
  }

  .svg-container-pilliers p {
    color: #fff;
    font-size: 10px;
  }

  .pillier svg, .priority svg {
    width: 100%;
  }

  figure {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  figure figcaption {
    position: absolute;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    line-height: 20px;
    color: #fff;
    font-size: 15px;
  }

  .has-big-hexa div {
    max-width: 100%;
  }


  /**************************************************************************\
                    OBJECTIF 1
  \**************************************************************************/
  .objectif-1 li:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 21%;
    left: -240%;
    width: 290%;
    height: 1px;
    color: red;
    background: #000;

    -webkit-transform:
          translateY(6.7px)
          translateX(-1px)
          rotate(0deg);
  }

  .objectif-1 li:nth-child(3) {
    top: -5px;
    width: 7%;
    height:0;
    padding-top: 7%;

    h1 {
      color: #000;
      position: absolute;
      top: -48px;
      left: 5px;
      font-size: 15px;
    }

    span {
      color: #000;
      position: absolute;
      top: 65px;
      left: 5px;
      font-size: 15px;
    }
  }

  .objectif-1 li:nth-child(3)::before {
    content: '';
    position: absolute;
    top: 27%;
    left: -235%;
    width: 290%;
    height: 1px;
    color: red;
    background: #000;
    -webkit-transform:
          translateY(7px)
          translateX(-1px)
          rotate(-3.8deg);
  }

  .objectif-1 li:nth-child(4) {
    top: -12px;
    width: 7%;
    height:0;
    padding-top: 7%;

    h1 {
      color: #000;
      position: absolute;
      top: -48px;
      left: 10px;
      font-size: 15px;
    }

    span {
      color: #000;
      position: absolute;
      top: 75px;
      left: 10px;
      font-size: 15px;
    }
  }

  .objectif-1 li:nth-child(4)::before {
    content: '';
    position: absolute;
    top: 32%;
    left: -235%;
    width: 290%;
    height: 1px;
    color: red;
    background: #000;
    -webkit-transform:
          translateY(6.7px)
          translateX(-1px)
          rotate(-4.5deg);
  }

  .objectif-1 li:last-child {
    top: -22px;
    width: 7%;
    height:0;
    padding-top: 7%;
    background: #5a8fa6;

    h1 {
      color: #000;
      position: absolute;
      top: -50px;
      left: 25px;
      font-size: 15px;
    }

    span {
      color: #000;
      position: absolute;
      top: 95px;
      left: 25px;
      font-size: 15px;
    }
  }

  .objectif-1 li:last-child::before {
    content: '';
    position: absolute;
    top: 37%;
    left: -(1280 / 550 * 100%);
    width: (1280 / 450 * 100%);
    height: 1px;
    background: #000;
    -webkit-transform:
          translateY(6.7px)
          translateX(-1px)
          rotate(-6deg);
  }

  /**************************************************************************\
                    OBJECTIF 2
  \**************************************************************************/
  .objectif-2 ul {
    position:relative;
    margin-top: 75px;
  }

  .objectif-2 ul li {
    width: 7%;
    height:0;
    padding-top: 7%;
    text-align: center;
    border-radius: 55%;
    border: 1px solid #000;
    margin: 0 1em;
    display: inline-block;
    color: black;
    position: relative;

    h1 {
      color: #000;
      position: absolute;
      top: -48px;
      left: 0;
      font-size: 15px;
    }

    span {
      color: #000;
      position: absolute;
      top: 70px;
      left: 0;
      font-size: 15px;
    }
  }

  .objectif-2 li:first-child {
    h1 {
      color: #000;
      position: absolute;
      top: -48px;
      left: 0;
      font-size: 15px;
    }

    span {
      color: #000;
      position: absolute;
      top: 50px;
      left: 0;
      font-size: 15px;
    }
  }
  .objectif-2 li:nth-child(2) {
    width: 7%;
    height:0;
    padding-top: 7%;
    top: -4px;
  }

  .objectif-2 li:nth-child(2)::before {
    content: '';
    position: absolute;
    top: (200 / 750 * 100%);
    left: -(1280 / 550 * 100%);
    width: (1280 / 450 * 100%);
    height: 1px;
    background: #000;
    -webkit-transform:
          translateY(6.7px)
          translateX(-1px)
          rotate(-3deg);
  }

  .objectif-2 li:nth-child(3) {
    top: -10px;
    width: 7%;
    height:0;
    padding-top: 7%;

    h1 {
      color: #000;
      position: absolute;
      top: -48px;
      left: 5px;
      font-size: 15px;
    }

    span {
      color: #000;
      position: absolute;
      top: 80px;
      left: 5px;
      font-size: 15px;
    }
  }

  .objectif-2 li:nth-child(3)::before {
    content: '';
    position: absolute;
    top: (200 / 600 * 100%);
    left: -(1280 / 550 * 100%);
    width: (1280 / 425 * 100%);
    height: 1px;
    background: #000;
    -webkit-transform:
          translateY(6.7px)
          translateX(-1px)
          rotate(-5deg);
  }

  .objectif-2 li:nth-child(4) {
    top: -15px;
    width: 7%;
    height:0;
    padding-top: 7%;

    h1 {
      color: #000;
      position: absolute;
      top: -48px;
      left: 10px;
      font-size: 15px;
    }

    span {
      color: #000;
      position: absolute;
      top: 90px;
      left: 10px;
      font-size: 15px;
    }
  }

  .objectif-2 li:nth-child(4)::before {
    content: '';
    position: absolute;
    top: (200 / 650 * 100%);
    left: -(1280 / 550 * 100%);
    width: (1280 / 425 * 100%);
    height: 1px;
    background: #000;
    -webkit-transform:
          translateY(6.7px)
          translateX(-1px)
          rotate(-4deg);
  }

  .objectif-2 li:last-child {
    top: -20px;
    width: 7%;
    height:0;
    padding-top: 7%;
    background: #5a8fa6;

    h1 {
      color: #000;
      position: absolute;
      top: -50px;
      left: 25px;
      font-size: 15px;
    }

    span {
      color: #000;
      position: absolute;
      top: 110px;
      left: 25px;
      font-size: 15px;
    }
  }

  .objectif-2 li:last-child::before {
    content: '';
    position: absolute;
    top: (250 / 750 * 100%);
    left: -(1280 / 540 * 100%);
    width: (1280 / 450 * 100%);
    height: 1px;
    background: #000;
    -webkit-transform:
          translateY(6.7px)
          translateX(-1px)
          rotate(-4deg);
  }

  /**************************************************************************\
                    OBJECTIF 3
  \**************************************************************************/
  .objectif-3 ul {
    position:relative;
    margin-top: 75px;
  }

  .objectif-3 ul li {
    width: 7%;
    height:0;
    padding-top: 7%;
    text-align: center;
    border-radius: 55%;
    border: 1px solid #000;
    margin: 0 1em;
    display: inline-block;
    color: black;
    position: relative;

    h1 {
      color: #000;
      position: absolute;
      top: -48px;
      left: 0;
      font-size: 15px;
    }

    span {
      color: #000;
      position: absolute;
      top: 70px;
      left: 0;
      font-size: 15px;
    }
  }
  .objectif-3 li:first-child {
    h1 {
      color: #000;
      position: absolute;
      top: -48px;
      left: 0;
      font-size: 15px;
    }

    span {
      color: #000;
      position: absolute;
      top: 50px;
      left: 0;
      font-size: 15px;
    }
  }

  .objectif-3 li:nth-child(2) {
    width: 7%;
    height:0;
    padding-top: 7%;
    top:6px;
  }
  .objectif-3 li:nth-child(2)::before {
    content: '';
    position: absolute;
    top: (100 / 950 * 100%);
    left: -(1280 / 550 * 100%);
    width: (1280 / 450 * 100%);
    height: 1px;
    background: #000;
    -webkit-transform:
          translateY(6.7px)
          translateX(-1px)
          rotate(4deg);
  }

  .objectif-3 li:nth-child(3) {
    top: -4px;
    width: 7%;
    height:0;
    padding-top: 7%;

    h1 {
      color: #000;
      position: absolute;
      top: -48px;
      left: 5px;
      font-size: 15px;
    }

    span {
      color: #000;
      position: absolute;
      top: 80px;
      left: 5px;
      font-size: 15px;
    }
  }
  .objectif-3 li:nth-child(3)::before {
    content: '';
    position: absolute;
    top: (200 / 550 * 100%);
    left: -(1280 / 540 * 100%);
    width: (1280 / 425 * 100%);
    height: 1px;
    background: #000;
    -webkit-transform:
          translateY(6.7px)
          translateX(-1px)
          rotate(-8deg);
  }

  .objectif-3 li:nth-child(4) {
    top: -10px;
    width: 7%;
    height:0;
    padding-top: 7%;

    h1 {
      color: #000;
      position: absolute;
      top: -48px;
      left: 10px;
      font-size: 15px;
    }

    span {
      color: #000;
      position: absolute;
      top: 90px;
      left: 10px;
      font-size: 15px;
    }
  }
  .objectif-3 li:nth-child(4)::before {
    content: '';
    position: absolute;
    top: (200 / 650 * 100%);
    left: -(1280 / 550 * 100%);
    width: (1280 / 425 * 100%);
    height: 1px;
    background: #000;
    -webkit-transform:
          translateY(6.7px)
          translateX(-1px)
          rotate(-5deg);
  }

  .objectif-3 li:last-child {
    top: -15px;
    width: 7%;
    height:0;
    padding-top: 7%;
    background: #5a8fa6;

    h1 {
      color: #000;
      position: absolute;
      top: -50px;
      left: 25px;
      font-size: 15px;
    }

    span {
      color: #000;
      position: absolute;
      top: 110px;
      left: 25px;
      font-size: 15px;
    }
  }
  .objectif-3 li:last-child::before {
    content: '';
    position: absolute;
    top: (250 / 700 * 100%);
    left: -(1200 / 540 * 100%);
    width: (1200 / 450 * 100%);
    height: 1px;
    background: #000;
    -webkit-transform:
          translateY(6.7px)
          translateX(-1px)
          rotate(-2deg);
  }
}



.boitealanoix {
  background: red;
  // height: 200px;
  height: 0;
  padding-top: ( 200 / 962 * 100% );
  width: ( 200 / 962 * 100% );
}
